@model Tugas_2_Kelompok_4.Models.Paket

@{
    ViewData["Title"] = "Tambah Paket";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tambah Paket</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Paket" asp-action="Create">
                            <div class="form-group">
                                <label asp-for="jenis" class="control-label">Jenis Paket</label>
                                <select asp-for="jenis" class="form-control" name="jenis">
                                    <option value="Barang">Barang</option>
                                    <option value="Dokumen">Dokumen</option>

                                    <!-- Tambahkan jenis paket lainnya sesuai kebutuhan -->
                                </select>
                                <span asp-validation-for="jenis" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="nama_pemilik" class="control-label">Nama Pemilik</label>
                                <input asp-for="nama_pemilik" class="form-control" name="nama_pemilik" />
                                <span asp-validation-for="nama_pemilik" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="telp" class="control-label">Nomor Telepon</label>
                                <input asp-for="telp" class="form-control" name="telp" />
                                <span asp-validation-for="telp" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="tanggal_sampai" class="control-label">Tanggal Sampai</label>
                                <input asp-for="tanggal_sampai" class="form-control" type="datetime-local" name="tanggal_sampai" />
                                <span asp-validation-for="tanggal_sampai" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var today = new Date().toISOString().split('T')[0];
        document.querySelector('input[type="date"]').value = today;
    });
</script>
